learnings/My workflow (3).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        384,
        0
      ],
      "id": "3e49483b-9316-4521-8378-cd05e8177efb",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "HyZDs488MEGVFqXv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are an intellegent model, read this summary and try drafting a reply {{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        592,
        0
      ],
      "id": "fbc05ad4-f47f-47ee-8905-e9bb41925426",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        208
      ],
      "id": "804361f7-e4b7-45a6-bfee-885a832f9eaf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rPupyCIfVSjTTCqB",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "abhishekmateti0@gmail.com",
        "subject": "hello worls",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        864,
        0
      ],
      "id": "0a8169e7-d7ab-4c6b-8b0c-09f0168c2f52",
      "name": "Send a message",
      "webhookId": "bd551601-b15e-4998-833c-ee5b43da3328",
      "credentials": {
        "gmailOAuth2": {
          "id": "HyZDs488MEGVFqXv",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae2d2167-62a5-44e2-9b64-b87b4aa224c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a26b296d8837976a75e7b234abebd3218a858371a8ed6d70fdc7ab38434b4238"
  },
  "id": "Z5NdsLfa2J1lm7V1",
  "tags": []
}